/* Universal Selector */
* {
    box-sizing: border-box;
  }
  /* HTML Element Selectors */
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #084c61;
  }
  header {
    padding: 0px;
    text-align: left;
    background: white;
  }
  
  header h1 {
    color: #FCBA04;
    margin-left: 60px;
  }
  
  nav {
    display: flex;
    padding-bottom: 5px;
    background-color: #FCBA04;
    justify-content: space-evenly;
   
  }
  
  nav a {
    color: white;
    background-color: black;
    padding: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #084c61;
    color: white;
  }
    
  nav a:active {
    background-color: white;
    color: #084c61;
  }
    
  nav a:focus {
    border: #084c61;
    border-style: solid;
    border-width: 1px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 2%;
  }
  h2 {
    font-size: 35px;
  }
  
  button {
    flex-direction: row;
    background-color: white;
    border: none;
    padding: 10px 27px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  button a {
    text-decoration: none;
    color: #084c61;
    text-align: center;
  }
  

/* Class Selectors*/

.lead-section {
    display: flex;
    width: 90%;
    margin: 20px auto;
    justify-content: center;
  }
  
  .lead-section button {
    font-size: 150%;
  }
  
  .circular--portrait { 
    position: relative; 
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 100%; 
  } 

.circular--portrait img { 
    width: 100%; 
    height: auto;}
  
  .lead-section-details {
      margin-left: 5%;
      flex: 0 0 60%;
      color: white;
    }
  
  .lead-section-details h2 {
      color: #FCBA04;
    }
  